@model StarWarsForum.Models.ProfileViewModels.UserModel
@{
    ViewData["Title"] = "Ban";
}

<h1>Ban</h1>
<div class="alert alert-danger">
    Are you sure you want to ban this user? It appears to be the way to the dark side!
</div>
<form asp-action="Ban" method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-controller="Profile" asp-action="Users" class="btn btn-default">Cancel</a>
    <input asp-for="UserName" type="hidden" />
    <input asp-for="BanFor" type="hidden" />
</form>