@model StarWarsForum.Models.ProfileViewModels.UserModel
@{
    ViewData["Title"] = "Unban";
}

<h1>Unban</h1>

<div class="alert alert-danger">
    Are you sure you want to unban this user?
</div>
<form asp-action="UnbanUser" method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-controller="Profile" asp-action="Users" class="btn btn-default">Cancel</a>
    <input asp-for=@Model.UserName type="hidden" />
</form>

