@model StarWarsForum.Models.PostViewModels.PostEditModel

@if (!User.Identity.IsAuthenticated)
{
    <h1>You need to sign in to view this page</h1>
}
else if (Model.AuthorName != User.Identity.Name && !User.IsInRole("Admin"))
{
    <h1>I sense a disturbance in the force. Are you trying to edit the post of another user?</h1>
}
else if (Model.Created.AddHours(3) < DateTime.Now && !User.IsInRole("Admin"))
{
    <h1>Sorry, the editing time is over</h1>
}
else {
<h1>Editing | @Model.TopicTitle</h1>

<form asp-action="Edit" method="post" id="editPostForm">
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content"></span>
    </div>
    <button type="submit" id="submitPostBtn" class="btn btn-submitPost">Edit reply</button>
    <input asp-for="Id" type="hidden" />
    <input asp-for="TopicId" type="hidden" />
    <input asp-for="TopicTitle" type="hidden" />
    <input asp-for="AuthorName" type="hidden" />
    <input asp-for="Created" type="hidden" />
</form>
}